<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><h3>RestaurantApp</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="/restaurants">Restaurants</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/restaurants/new">Add Restaurant</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/clientLogin">Client Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/clientDetails">Client Details</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/clientLogout">Client Logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/clientSignup">Client Signup</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/restaurantAdminLogin">ResAdmn Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/restaurantAdminLogout">ResAdmn Logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/user/restaurantAdminSignup">ResAdmn Signup</a>
        </li>
      </ul>
    </div>
</nav>