<% layout ('/layouts/boilerplate') %>
<h2>New Restaurant Admin User</h2>
<form action="/user/restaurantAdminSignup" method="POST" novalidate class="validated-form">
    <div class="form-group">
      <h4>Name</h4>
      <input type="text" class="form-control" id="name" aria-describedby="name" name="name" required><br>
    <div class="form-group">
        <h4>Password</h4>
        <input type="password" class="form-control" id="password" aria-describedby="password" name="password" required>
    </div>
    <div class="form-group">
        <h4>Email</h4>
        <input type="text" class="form-control" id="email" aria-describedby="email" name="email" required><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="/validateForms.js"></script>