<% layout ('/layouts/boilerplate') %>
<h1> <span class="badge badge-success text-center"> Add Item to <%=rest.name%> </span> </h1><br>
<form action="/restaurants/<%=id%>" method="POST">
    <div class="form-group">
      <h4>Name</h4>
      <input type="text" class="form-control" id="name" aria-describedby="name" name="name"><br>
    <div class="form-group">
        <h4>Price</h4>
        <input type="number" class="form-control" id="price" aria-describedby="price" name="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
