<% layout ('/layouts/boilerplate') %>
<div class="mx-auto" style="width: 200px;">
    <h1> <span class="badge badge-success"> Edit Restaurant </span> </h1><br>
</div>
<form action="/restaurants/<%=rest._id %>?_method=PUT" method="POST" novalidate class="validated-form">
    <div class="form-group">
      <h4>Name</h4>
      <input type="text" class="form-control" id="name" aria-describedby="name" name="restaurant[name]" value="<%=`${rest.name}`%>" required><br>
    <h4>Cuisines</h4>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="cus1" name="restaurant[cus1]" >
      <label class="form-check-label" for="cus1">Indian</label><br>
      <input type="checkbox" class="form-check-input" id="cus2" name="restaurant[cus2]" >
      <label class="form-check-label" for="cus2">Pan-Asian</label><br>
      <input type="checkbox" class="form-check-input" id="cus3" name="restaurant[cus3]" >
      <label class="form-check-label" for="cus3">Chinese</label><br>
      <input type="checkbox" class="form-check-input" id="cus4" name="restaurant[cus4]" >
      <label class="form-check-label" for="cus4">Continental</label><br>
      <input type="checkbox" class="form-check-input" id="cus5" name="restaurant[cus5]" >
      <label class="form-check-label" for="cus5">Japanese</label><br>
      <input type="checkbox" class="form-check-input" id="cus6" name="restaurant[cus6]" >
      <label class="form-check-label" for="cus6">Korean</label>
  </div>
    <div class="form-group">
        <h4>Location</h4>
        <input type="text" class="form-control" id="location" aria-describedby="location" name="restaurant[location]" value="<%=`${rest.location}`%>" required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.validated-form')
  
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
