<% layout ('/layouts/boilerplate') %>
<h1>New Product</h1>
<form action="/restaurants/<%=rest._id %>?_method=PUT" , method="POST">
    <label for="name">Name : </label>
    <input type="text" placeholder="Enter Name" id="name" name="name" value="<%= `${rest.name}`%>">
    <br>
    <label for="cuisines">Price : </label>
    <input type="text" placeholder="Enter Cuisines" id="cuisines" name="cuisines" value="<%=`${rest.cuisines}`%>">
    <br>
    <label for="loc">Location :</label>
    <input type="text" placeholder="Enter Location" id="loc" name="location" value="<%=`${rest.location}`%>">
    <button>Submit</button>
</form>
